<template>
    <div>
        <label>
            <input placeholder="type a year" v-model="currentYearNow" type="number"> <span> <button @click.prevent="submitYear">add</button> </span>
        </label>
        <label>
            <input placeholder="type a month number" v-model="currentMonthNow" type="number"> <span> <button @click.prevent="submitMonth">add</button> </span>
        </label>
    </div>
</template>

<script>
export default {
    props: {
        year: {
            type: Number,
        },
        month: {
            type: Number
        }
    },
    methods: {
        submitYear() {
            this.year = this.currentYearNow
            this.$emit('submitYear', this.currentYearNow)
        },
        submitMonth() {
            this.currentMonthNow = this.month
            this.$emit('submitMonth', this.month)
        }
    },
    data() {
        return {
            currentYearNow: undefined,
            currentMonthNow: undefined
        }
    }
}
</script>

<style scoped>
label {
    margin-right: 200px;
    padding-left: 5px;
    font-size: 20px;
    color: #fff;
}
</style>
