<template>
    <div class="container" id="app">
        <h1 class="has-text-centered m-5 is-size-4"> Today: {{ currentDay }} of {{ monthName () }} {{ year }}</h1>
        <hr>
        <h1 class="has-text-centered is-size-3">{{changeYear()}}: {{changedMonth()}} </h1>

        <div>
            <days
                @submitYear="submitThisYear($event)"
                @submitMonth="submitThisMonth($event)"
                :dayName="dayName"
                :currentYear="year"
                :currentMonth="month"
                :currentDay="currentDay"
            />
            <near-month
                :currentMonth="month"
                @changeMonth="changeMonth($event)"
            />
<!--            <changeDate />-->

        </div>
        <router-view/>
    </div>
</template>

<script>
import days from '@/components/days'
// import changeDate from '@/components/changeDate'
import nearMonth from '@/components/nearMonth'
export default {
    data () {
        return {
            dayName: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            current_year: new Date ().getFullYear () ,
            current_month: new Date ().getMonth() + 1,
            currentDay: new Date().getDate(),
            year: 2021,
            month: 3
        }
    },
    components: {
        days, nearMonth
    },
    methods: {
        monthName() {
            return new Date(this.current_year, this.current_month, 0).toLocaleString('en-us', {month: 'long'})
        },
        changeYear() {
            return this.year
        },
        changedMonth() {
            return new Date(this.year, this.month, 0).toLocaleString('en-us', {month: 'long'})
        },
        submitThisYear($event) {
            this.year = $event
        },
        submitThisMonth($event) {
            this.month = $event
        },
        changeMonth($event) {
            this.month = $event
        }
    }
}
</script>

